
//-----------------------------------------
// Not used, App Original Style
//-----------------------------------------


/*

@import "base";

.formblock {
  width:700px;
  margin:0 auto;
  padding:0 8px;
  background-color:white;
  color:$grey;
  background-image: linear-gradient(transparent 50%, rgba($green,1) 50%);
  background-size: 12px 12px;
  border: 1px, solid #000;
  border-radius:4px;
  -moz-box-shadow: 1px 2px 1px #000;
  -webkit-box-shadow: 1px 2px 1px #000;
  box-shadow: 1px 2px 1px #000;
}

.form_inner {
  background-color:white;
  padding:0 20px;
}

.ui-dialog-titlebar {
  border:none;
  background:none;
}

.ui-dialog {
  background-color:white;
  padding:20px;
  background-image: linear-gradient(transparent 50%, rgba($green,1) 50%);
  background-size: 12px 12px;
  border: 1px, solid #000;
  border-radius:4px;
  -moz-box-shadow: 1px 2px 3px #333;
  -webkit-box-shadow: 1px 2px 3px #333;
  box-shadow: 1px 1px 3px #333;
}

.ui-dialog-titlebar {
  border:none;
  background:none;
  height:none;
  padding:0;
  margin:0;
}

.ui-widget-overlay {
  opacity: .1;
}

.ui-widget-content {
  border:1px solid #000;
  background:white;
  color:none;
}

*/