<%=	 render 'application/flash_notice' %>
<div class="top-strip"></div>
  <div class="row">
   <div class="app-branding">
     <h1 class="logo" data-role="logo"><%=link_to "Snack<br />Central".html_safe, root_path %> </h1>
   </div>
</div>
