<div class="row">
  <div class="large-8 large-centered columns brand-tag-line">
    <p>These are the snacks we keep in the company kitchen. Enjoy!</p>
    <span>Don't see anything you like?</span>
    <%= link_to "Request New Snack", "#", :id => '#myModal', :class => "button", :data => { :'reveal-id ' => 'createModal' }  %>
  </div>
</div>
</div>
<div class="row">
  <%= render 'card_list' %>
  <%= render 'dialog_model' %>
</div>




